@import '../../scss/colors';
@import '../../scss/fontFamilies';
@import '../../scss/mixins';

.searchBar {
  position: relative;
  order: 3;
  margin: 1rem auto 1rem auto;
  @include tablet {
    order: 2;
    margin: 0 auto 0 0;
  }

}

.searchInput {
  color: $primaryColor;
  border: 1px solid $primaryColor;
  font-family: $primaryFont;
  font-weight: 500;
  font-size: .875rem;
  line-height: 1.1875rem;
  padding: 1rem 0;
  border-radius: 12px;
  outline: none;
  padding-left: 2.6875rem;
  width: 95vw;
  @include tablet {
    width: 40vw;
    max-width: 18.875rem;
  }

  &::placeholder {
    color: $primaryColor;
  }
}

.searchIcon {
  color: $primaryColor;
  position: absolute;
  left: 1.1875rem;
  top: calc(50% - 0.5em);
}
