@import './scss/_colors.scss';
@import './scss/fontFamilies';

.modalOpen {
  height: 100vh;
  overflow-y: hidden;
}

.btn {
    font-family: $primaryFont;
    font-style: normal;
    font-weight: 700;
    font-size: .875rem;
    line-height: 1.1875rem;
    padding: 1.125rem 1.5rem;
    border: none;
    border-radius: 12px;
    color: $white;
    cursor: pointer;

    &:disabled {
      background-color: $primaryColor;
      &:hover {
        opacity: 1;
        cursor: auto;
      }
    }
    &:hover {
      opacity: .8;
    }
}

.primary {
    background-color: $secondaryColor;
}

.error {
  color: $red;
  margin: .5rem 0 0 1rem;
}
