@import '../../scss/_colors.scss';
@import '../../scss/fontFamilies';
@import '../../scss/mixins';

.header {
  margin: 0 auto;
  margin: 2rem 2.5vw 0.75rem 2.5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  // justify-content: space-between;
  flex-wrap: wrap;
  @include tablet {
    margin: 2rem 4.5vw 4.75rem 4.5vw;
  }

  .btn {
    order: 2;
    @include tablet {
      order: 3;
    }
  }
}

.logo {
  margin-right: auto;
  @include tablet {
    margin: 0;
  }
}
.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

// .addBtn {
//   font-family: $primaryFont;
//   font-style: normal;
//   font-weight: 700;
//   font-size: .875rem;
//   line-height: 1.1875rem;
//   padding: 1.125rem 1.5rem;
//   border: none;
//   background-color: $secondaryColor;
//   border-radius: 12px;
//   color: $white;
//   cursor: pointer;

//   &:hover {
//     opacity: .8;
//   }
// }
