@import '../../scss/_colors.scss';
@import '../../scss/fontFamilies';

.header {
  margin: 2rem 7.5vw 4.75rem 7.5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

// .addBtn {
//   font-family: $primaryFont;
//   font-style: normal;
//   font-weight: 700;
//   font-size: .875rem;
//   line-height: 1.1875rem;
//   padding: 1.125rem 1.5rem;
//   border: none;
//   background-color: $secondaryColor;
//   border-radius: 12px;
//   color: $white;
//   cursor: pointer;

//   &:hover {
//     opacity: .8;
//   }
// }
