@import '../../scss/_colors.scss';
@import '../../scss/fontFamilies';

.btnsCtn {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  margin-top: 1.5rem;
}

.cancelBtn {
  font-family: 'Noto Sans';
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.375rem;
  color: $primaryColor;
  margin-right: 1.5rem;

  &:hover {
    cursor: pointer;
    opacity: .7;
  }
}
